{% load wagtailimages_tags %}
<div class="card">
    <button class="plus-btn" onclick="openModal(
        '{{ value.title }}',
        '{{ value.description|escapejs }}',
        `{% if value.icon_image %}
            {% image value.icon_image fill-200x200 as icon_img %}
            &lt;img src=&quot;{{ icon_img.url }}&quot; alt=&quot;{{ value.title }}&quot; style=&quot;width: 120px; height: 120px; object-fit: contain;&quot;&gt;
        {% elif value.icon_emoji %}
            &lt;div style=&quot;font-size: 80px;&quot;&gt;{{ value.icon_emoji }}&lt;/div&gt;
        {% elif value.icon_svg_code %}
            {{ value.icon_svg_code|safe }}
        {% else %}
            &lt;i class=&quot;bi bi-star&quot; style=&quot;font-size: 80px;&quot;&gt;&lt;/i&gt;
        {% endif %}`
    )">+</button>
    <div class="icon-wrapper">
        {% if value.icon_image %}
            {% image value.icon_image fill-350x350 as card_icon %}
            <img src="{{ card_icon.url }}" alt="{{ value.title }}">
        {% elif value.icon_emoji %}
            <div style="font-size: 80px;">{{ value.icon_emoji }}</div>
        {% elif value.icon_svg_code %}
            {{ value.icon_svg_code|safe }}
        {% else %}
            <i class="bi bi-star" style="font-size: 80px;"></i>
        {% endif %}
    </div>
    <div class="title">{{ value.title }}</div>
</div>